<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="log_dir" value="./log" />
    <!-- 日志最大的历史 30天 -->
    <property name="maxHistory" value="7" />
    <property name="maxFileSize" value="200MB" />

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 1格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <!-- [%class:%line] -->
            <pattern>--%level-> 时间: %d 线程: %thread 类: %class:%line%n%msg%n%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <!-- 过滤掉非info的日志 -->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
        <!--    <level>INFO</level>-->
        <!--    <onMatch>ACCEPT</onMatch>-->
        <!--    <onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--        <file>$/app.log</file>-->
        <append>true</append>
        <encoder>
            <pattern>%d[%thread][%class:%line]%-5level: %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>
                ${log_dir}/log.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>${maxHistory}</maxHistory>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="onelog" level="debug" />
    <logger name="org.v2u" level="debug" />

    <!-- 日志级别排序为： TRACE < DEBUG < INFO < WARN < ERROR -->
    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>